<div class="span_12_of_12 home-portfolio">
    
  <div class="section">
    <h2 class="page-title">
      <div class="page-title__text">Our Portfolio</div>
      <div class="page-subtitle__text">Don't just take our word for it...</div>  
    </h2>
  </div>
    
    {% for post in site.posts %}
      {% if post.categories contains 'portfolio' limit:2 %}
        <div class="section">
          <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="work-teaser">
            <div class="work-teaser-content span_6_of_12 col">
                <h3><strong><span class="work-teaser__title">{{ post.title }}</span></strong></h3>
                <blockquote><p>{{post.excerpt}}</p></blockquote>
            </div>
            <div class="work-teaser-image span_6_of_12 col">
                {% if post.image %}
                <img class="work-image" src="assets/img/{{post.image}}">
                {% endif %}
            </div>
          </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}

</div>
