---
layout: page
title: Do you have a digital headache?
subtitle: We have a unique medicine to help.
sitemap:
  priority: 0.9
---

<div class="home-intro section">
  <h3 class="home-mission"> We aim to positively impact your businesses bottom line by creating simple solutions which showcase your individuality and help you attract, grow, and engage with your customers</h3>
</div>
 <div>
   <div class="span_6_of_12 col home-sub">
    <h2>Value Added</h2>
    <p>
      We are a value driven, marketing focused design agency. Our focus, and priority is creating value through design and marketing campaigns across print and digital products - unifying your brand prescence in the process. 
    </p>
  </div>

    <div class="span_6_of_12 col home-sub">
    <h2>Our Relationships</h2>
    <p>
      That means our portfolio is more than just a few pretty pictures, it represents the return on investment that each of our partner companies achieves whilst working with us. We strive to build continuous relationships upon this philosophy.
    </p>
  </div>

</div>

<div class="span_12_of_12 home-problem">
  <h1 class="page-title">
      <div class="page-title__text"><span class="stand-out">Standing out</span> is harder than ever.</div>
  </h1>
  <h4 class="problem-1">Running a business is demanding</h4>
  <h4 class="problem-2">And differentiating your business is harder than ever</h4>
  <h4 class="problem-3">Could your digital presence be costing you?</h4>
  <h4 class="problem-4">You need to keep a pulse on your digital world</h4>
  <h4 class="problem-5">You want to concentrate on what you do best - growing your business</h4>
  <h4 class="problem-6">We've got your back.</h4>
  <h4 class="problem-7">We've got a unique medicine for your digital headache.</h4>
  <h4 class="problem-8">Which grows attracts and engages your customers.</h4>

</div>

<div class="home-services">  
  <h1 class="page-title">
      <a href="/how-we-work/"><div class="page-title__text">Your Medicine**</div></a>
      <div class="page-title__subtitle">May contain one or more of the following.</div>
  </h1>

  <div class="group section"> 
    <div class="group span_2_of_12_fixed col">
      <object id="bottle" data="/assets/img/bottle.svg" type="image/svg+xml"></object>
    </div>

    <div class="group span_2_of_12_fixed col">
      <object id="bottle" data="/assets/img/bottle.svg" type="image/svg+xml"></object>
    </div>
    <div class="group span_1_of_12_fixed col">
    </div>   
    <div class="group span_2_of_12_fixed col">
        <object id="mortarandpestle" data="/assets/img/mortarandpestle.svg" type="image/svg+xml"></object>
    </div>
    <div class="group span_1_of_12_fixed col">
    </div>      
   
    <div class="group span_2_of_12_fixed col">
      <object id="bottle" data="/assets/img/bottle.svg" type="image/svg+xml"></object>
    </div>

    <div class="group span_2_of_12_fixed col">
      <object id="bottle" data="/assets/img/bottle.svg" type="image/svg+xml"></object>    </div>
  </div>

  <div class="group section">    
    <div class="group span_4_of_12 col">
      <h2><Strong>Digital Services</strong></h2>
    </div>
    <div class="group span_8_of_12 col">
      <p>
        <strong>Full service digital marketing</strong>
        <br>
        Responsive, and marketing focused website design. We can help with content strategy, email marketing, getting ranked on google, website analytics, and website management.
      </p>
    </div>
  </div>

  <div class="group section">    
    <div class="group span_4_of_12 col">
      <h2><Strong>Brand Strategy</strong></h2>
    </div>
    <div class="group span_8_of_12 col">
      <p>
        <strong>A memorable brand</strong>
        <br>
       A unique brand is the foundation of your business. We’ll help you get noticed by considering your individuality and unifying both your needs and those of your customers.
      </p>
    </div>
  </div>
  
  <div class="group section">    
    <div class="group span_4_of_12 col">
      <h2><Strong>Print Collatoral</strong></h2>
    </div>
    <div class="group span_8_of_12 col">
      <p>
        <strong>Better brand communications</strong>
        <br>
        Get noticed on print. We create a wide range of marketing collatoral and events materials which will help you stand out in a crowded marketplace.
      </p>
    </div>
  </div>

  <div class="group section">    
    <div class="group span_4_of_12 col">
      <h2><Strong>Marketing Focus</strong></h2>
    </div>
    <div class="group span_8_of_12 col">
      <p>
        <strong>A singlular focus</strong>
        <br>
        We help you focus your digital marketing goals and attract, grow and engage customers. We experiment, measure and learn, then optimise.
      </p>
    </div>
  </div>

  <h4><strong>** Side effects may include:</strong> a more memorable digital prescence, a growing, more loyal customer base - and most importantly a strong return on your investment.</h4>
</div>


{% include page/portfolio-featured.html %}

<hr>

<div class="span_12_of_12 home-writing">
  <h1 class="span_12_of_12 page-title">
      <div class="page-title__text">Our Writing</div>
      <div class="page-title__subtitle">On marketing, design, technology, and business.</div>
  </h1>
  <ul class="list-posts">
      {% for post in site.posts%}
        {% if post.tags contains 'blog' limit:3%}
            <li class="post-teaser">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="post-teaser__title">{{ post.title }}</span>
                    <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
                </a>
                <p> {{post.excerpt}} </p>
                {% if page.image %}
                <img class="" src="/img/{{page.image}}">
                {% endif %} 
            </li>
        {% endif %} 
      {% endfor %}
    </ul>
  {% include page/explore.html %}
</div>

<div class="section span_12_of_12 home-end">
  <h1 class="page-title">
    <div class="page-title__text">Let's work together</div>
    <div class="page-title__subtitle"><span class="stand-out">to grow your business, without the digital headache.</span></div>
  </h1>
  <div class="section group">
  <h2 class="span_8_of_12 col click_below"><br><strong>Just click the button below.</strong></h1>
  <object class="span_4_of_12 col" id="arrow-down" data="/assets/img/arrow-down.svg" type="image/svg+xml"></object>
</div>
</div>

<script>
var colors = ['#ff0000', '#00ff00', '#0000ff'];
var random_color = colors[Math.floor(Math.random() * colors.length)];
document.getElementById('work-color').style.color = random_color;
</script>
