<!-- Capture and store page url -->

{% capture location %} {{page.url | split:'/'}} {% endcapture %}

<header class="header">
    <div class ="section header-container">
        <h1 class="logo"><a href="/" | prepend: site.baseurl }}</a></h1>
        <h4 class="sub-head">
        We work at the intersection of marketing, design, &amp; technology. 
        </h4>
    </div>

    <div class="navigation">
        <nav class="menu">
        <ul>                     
            <li  class ="menu__entry" >
                <a href="{{ base.url }}/">Home</a>
            </li>
         
            <!--<li  class ="menu__entry" >
                <a href="/our-work/ | prepend: site.baseurl }}">Our Work</a>
            </li> -->

            <li  class ="menu__entry" >
                <a href="/how-we-work/ | prepend: site.baseurl }}">Services</a>
            </li>    
            
            <li  class ="menu__entry" >
                <a href="/writing/" | prepend: site.baseurl }}>Writing</a>
            </li>   
        </ul>
    </nav>
    </div>

    <ul class="social-links">
        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
</header>
